<!doctype html>
<head>
  <meta charset="utf-8">
  <script language="javascript" type="text/javascript">
  <!--
  function setFormInput(val) {
    window.opener.document.getElementById('f_place').innerHTML = val;
    var current_value = window.opener.document.getElementById('f_place').value
    window.opener.document.getElementById('f_place').value = val
    /*
    if (current_value == "") {
      window.opener.document.getElementById('f_place').value = val + ", "
    } else {
      window.opener.document.getElementById('f_place').value = val + ", " + current_value;
    }
    */
    window.close();
  }
  -->
  </script>
  <title>がまぐっち</title>
</head>
<body>
  {% if place_list.places %}
    {% for place in place_list.places %}
      <a href="javascript:setFormInput('{{ place }}');">{{ place }}</a>
    {% endfor %}
  {% else %}
    <p>まだ場所が未登録です。</p>
    <p>前の画面に戻って新しい場所を入力してください</p>
  {% endif %}
  <a href="#" onClick="window.close(); return false;">閉じる</a>
</body>
</html>
